.text-field {
  margin-bottom: 2rem;
}

.text-field label {
  margin-bottom: 0.5rem;
  display: block;
}

.text-field input {
  height: 3rem;
  display: block;
  width: 400px;
  outline: none;
  font-size: 1rem;
  padding-left: 1rem;
}

@media only screen and (max-width: 768px) {
  .text-field input {
    width: 300px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .text-field input {
    height: 3rem;
    display: block;
    width: 400px;
    outline: none;
    font-size: 1rem;
    padding-left: 1rem;
  }
}
